<!--https://gist.github.com/bMinaise/7329874
http://codepen.io/ace-subido/pen/Cuiep-->
<div class="wrapper">
    <form class="form-signin"  ng-submit="doLogin()">       
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="form-control" name="username" placeholder="Login" required="" autofocus=""  ng-model="login"/>
        <input type="password" class="form-control" name="password" placeholder="Password" required=""  ng-model="password"/>      
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginBtn">Login</button>   
    </form>
</div>
<!--div>
    <form ng-submit="doLogin()">
        <input type="text" ng-model="login" placeholder="Login"/>
        <input type="password" ng-model="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
</div-->